<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>신고 페이지</title>
</head>
<body>
<form action="/report" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    신고 닉네임: <input type="text" name="nickname"> <br>
    신고 게시판: <input type="text" name="note"> <br>
    신고 유형: <input type="text" name="type"> <br>
    신고 내용:
    <textarea name="content"></textarea><br>

    <input type="submit" value="등록">
</form>

<a th:href="@{/}">메인페이지 이동</a>
</body>
</html>