.questionBtn{
    width: 400px;
    height: 150px;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 1.5rem;
    color: black;
    background-color: white;
    align-items: center;
    /* font-family: Spoqa-Han-Sans; */
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    border: 5px solid lightgray;
    white-space:pre-line;
  }
  .questionBtn:hover{
      color: white;
      background-color: #DE4D31;
  }
